.coverFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 50px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 3vw;
    margin-right: 3vw;

    @media only screen and (max-width: 1000px){
        flex-direction: column;
    }
}

.downloadIcon {
    display: flex;
    align-items: center;
}

.downloadIcon > img:not(:last-of-type) {
    margin-right: 30px;
}

.socialMsg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;

    @media only screen and (max-width: 1000px){
        flex-direction: column;
        width: 80%;
    }

}

.socialMessage {
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: left;
    width: 363px;
    height: 65px;
    z-index: 10;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;

    @media only screen and (max-width: 1000px){
        margin-top: 18px;
        width: 100%;
        text-align: center;
    }
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 1000px){
        margin: 18px auto;
    }

}

.iconWrapper img{
    margin: auto 8px;

}
